/* Estilos para asegurar que los elementos estén ocultos inicialmente */
.welcome-text, .image-placeholder {
    opacity: 0;
    transform: translateY(50px); /* Mueve los elementos un poco hacia abajo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estilos para cuando se activa la animación de entrada */
.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

