/* Estilos compactos para las preguntas frecuentes */

.faq-section .container {
    max-width: 800px;
    /* Reduce el ancho máximo para que se vea más compacto */
    margin: 0 auto;
    /* Centra el contenedor */
}

.accordion-item {
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.accordion-header .accordion-button {
    background-color: #fee4d9;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 15px;
    /* Reduce el padding para hacerlo más compacto */
    border: none;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

.accordion-header .accordion-button:hover {
    background-color: #dd6d2c;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #dd6d2c;
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}

.accordion-body {
    background-color: #fff;
    padding: 15px;
    /* Reduce el padding del contenido */
    font-size: 0.9rem;
    color: #555;
}

.accordion-body ul {
    padding-left: 15px;
}

.accordion-body ul li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
}

.accordion-body ul li::before {
    content: '\f00c';
    /* Icono de check */
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    color: #dd6d2c;
    font-size: 0.8rem;
    /* Ajusta el tamaño del icono */
}